@use "sass:color";

@mixin button-style($bg-color, $text-color, $pt: auto, $px: auto) {
  background-color: $bg-color;
  color: $text-color;
  padding: $pt $px;
  border-radius: 30px;
  border: none;

  &:hover {
    background-color: color.mix(white, $bg-color, 10%);
  }
}

@mixin amount-style {
  align-items: end;
  color: #4f547b;
  font-size: 14px;
}

@mixin filter-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
